:root {
  /* Colors */
  --black: #070707;
  --white: #ffffff;
  --grey: #c9c9c9;
  --yellow: #ffe77d;
  --orange: #ff7519;
  --mauve: #D5B0FE;
  --bwhite: #EEEDE9;
  --beige: #F5F1E5;
  --blue: #79A7B8;
  --rose: #EE97D4;
}
